/* fonts | POPPINS | MONTSERRAT | ROBOTO | ROBOTO SLAB |  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&family=Roboto+Slab&display=swap");

/* COLORS */
:root {
  --bg-light-blue: #eaf1fd;
  --bg-and-text-medium-blue: #3270bc;
  --text-neon-blue: #00ffff;
  --button-standard-yellow: #ffd700;
  --red-lines-price-time: #ff0000;
  --grey-footer: #626262;
  --grey-text: #7c7c7c;
}

/* BACKGROUND */
.bg-light-blue {
  background-color: var(--bg-light-blue);
}

.bg-blue {
  background-color: var(--bg-and-text-medium-blue);
}

.bg-red {
  background-color: var(--red-lines-price-time);
}

.bg-grey {
  background-color: var(--grey-footer);
}

.bg-black {
  background-color: black;
}

/* TEXT */
.blue {
  color: var(--bg-and-text-medium-blue);
}

.red {
  color: red;
}

.neon-blue {
  color: var(--text-neon-blue);
}

.grey {
  color: var(--grey-text);
}

.red {
  color: var(--red-lines-price-time);
}

/* BUTTON */
.yellow {
  background-color: var(--button-standard-yellow);
}

/* FONT STYLES */
/* FAMILY */
.roboto {
  font-family: "Roboto", sans-serif;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
}

/* FONTSIZE */
html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.fs-small {
  font-size: small;
}

.fs-large {
  font-size: large;
}

.fs-medium {
  font-size: medium;
}

.fs-xlarge {
  font-size: x-large;
}

/* FONT WEIGHT */
.font-weight-bold {
  font-weight: 700 !important;
}

body {
  font-family: "Montserrat", sans-serif !important;
}

/* --------------------------------------- END OF GLOBALS----------------------------------------------- */

/* --------------------------------------- ANIMATIONS --------------------------------------------- */

@keyframes buttonPulse {
  0% {
    transform: scale(1);
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.72);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0px 0px 13px 6px rgba(0, 0, 0, 0.72);
  }

  100% {
    transform: scale(1);
    box-shadow: 0px 0px 13px 1px rgba(0, 0, 0, 0.72);
  }
}

@keyframes imgSlideLeft {
  from {
    transform: translateX(200px);
  }

  to {
    transform: translateX(-12%);
  }
}

@keyframes imgSlideRight {
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(12%);
  }
}

@keyframes imgSlideUp {
  from {
    transform: translateY(200px);
  }

  to {
    transform: translateY(0px);
  }
}

/* --------------------------------------- END OF ANIMATIONS ----------------------------------------------- */

.alerheader {
  background-color: var(--red-lines-price-time);
  color: white;
  fontsize: 17px;
}

.header {
  background-image: url(../img/background-dollar-bill.webp);

  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.header button {
  margin-bottom: 2%;
}
.header img {
  margin-bottom: 1%;
}

.custom-1 {
  line-height: 40px;
  -webkit-font-smoothing: antialiased;
}

.text-white {
  color: white;
}

.logo {
  width: 94px;
  height: 94px;
}

.testimonials {
  background-image: url(../img/shark-background-opacity.webp);
  text-align: center;
  /* margin-bottom: 2%; */
  /* margin-top: 2%; */
}

.testimonials .margin-testimonials {
  margin-left: 2%;
  margin-right: 2%;
}

.testimonials .col-md img {
  width: 70%;
  border-radius: 20px;
  margin-bottom: 7%;
  margin-top: 7%;
}

.testimonials .margin-testimonials {
  /* margin-right: 80px;
  margin-left: 80px; */
}

.red-line {
  height: 3px;
  width: 100%;
  background-color: var(--red-lines-price-time);
  text-align: center;
}

.garantaoseu {
  background-image: url(../img/shark-background.webp);
  text-align: center;
}

.garantaoseu h1 {
  font-size: 450%;
}

.garantaoseu button {
  margin-top: 5%;
  margin-bottom: 5%;
}

.btn:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.garantaoseu .card {
  margin-bottom: 8%;
  margin-top: 6%;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 white;
  background-color: black;
  color: white;
}
.bonus .card .card-body {
  min-height: 250px;
}

.card-title {
  font-weight: 700;
  font-size: x-large;
}

li {
  list-style: none;
}

.contentacess {
  text-align: center;
  color: white;
  margin-top: 2%;
}

.member-area iframe {
  min-height: 635px;
}
.contentacess .card {
  background-color: #151515;
  border-radius: 40px;
  margin: 2%;
}

.contentacess button {
  width: 100%;
  margin-bottom: 3%;
}

.pulse {
  animation: buttonPulse 1s ease infinite;
  font-size: x-large;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  width: fit-content !important;
}

@media screen and (max-width: 500px) {
  .pulse {
    font-size: x-small;
    margin: 0 auto;
  }

  .garantia-7-dias .container .row {
    display: flex;
    flex-direction: column;
  }

  .owl-dots {
    display: none;
  }

  .owl-carousel {
    margin: auto;
  }

  .owl-nav button {

  }

  #aboutme-photos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100% !important;
    height: 100% !important;
    margin: 10px 0px 10px 0px;
  }

  #aboutme-photos div.col-4 {
    width: 100% !important;
    padding: 5px !important;
  }

  #aboutme-photos img {
    animation: none !important;
  }

  #photo3 {
    height: 100% !important;
  }

  div.container {
    max-width: 95%;
  }
}

#photo3.animate {
  animation: imgSlideLeft 1s ease-out forwards;
}

#photo1.animate {
  animation: imgSlideRight 1s ease-out forwards;
}

#photo2.animate {
  animation: imgSlideUp 1s ease-out forwards;
}

#photo2 {
  position: relative;
  height: 100%;
  z-index: 1;
}

#photo1,
#photo3 {
  height: 95%;
  overflow: hidden;
}

#photo1,
#photo2,
#photo3 {
  box-shadow: 0px 0px 10px -1px black;
}

.garantia-7-dias {
  text-align: center;
}

.garantia-7-dias img {
  width: 65%;
  margin-top: 3%;
  margin-bottom: 3%;
}

.garantia-7-dias button {
  margin-top: 2%;
  margin-bottom: 2%;
  width: 100%;
}

.member-area {
  text-align: center;
}

.member-area iframe {
  margin-bottom: 2%;
  /* width: inherit; */
}

.bonus {
  /* margin: 2%; */
  text-align: center;
  background-color: #6297ec1f;
}

.bonus .card {
  margin-bottom: 8%;
  margin-top: 6%;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 #6297ec;
}
.bonus .card-body {
  min-height: 250px;
}
.bonus .card {
  min-height: 350px;
}

.bonus .col-md-3 {
  background-color: #6298;
  margin: 2%;
  border-radius: 30px;
}

.timer {
  text-align: center;
}

.timer .hour-number {
  color: var(--red-lines-price-time);
  font-size: 300%;
}

.timer .hour-number {
  font-size: 450%;
}

.timer table {
  border-color: white;
}

.timer table p {
  border-color: white;
  margin-top: -15%;
}

.timer img {
  max-width: 28%;
}

.h2 {
  font-weight: 700;
  text-align: center;
}

.custom-justify {
  text-align: justify;
}

.item {
  border-radius: 10px;
}

.instagram {
  text-align: center;
  color: #fff;
}

.instagram img {
  margin: 2%;
}

.instagram button {
  margin: 3%;
  width: 100%;
  border-style: solid;
  border-width: 2px;
  border-color: #0a06ff;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 0 3px 0 #000;
}

.duvidas {
  text-align: center;
}

.duvidas h2 {
  margin-top: 2%;
}

.duvidas hr {
  color: red;
}

.duvidas .btn {
  color: #fff;
  margin-top: 1%;
}

.duvidas .btn-outline-info:hover {
  background-color: #ffd700;
  color: black;
}

.duvidas .card {
  margin-bottom: 2%;
  margin-top: 0.5%;
  width: 100%;
}

.footer {
  text-align: center;
  margin-top: 2%;
}

.footer a {
  margin-bottom: 1%;
  border-radius: 30px;
}

.footer .footer-bottom-container {
  color: rgb(224, 212, 212);
}

.whatis {
  margin-bottom: 2%;
  margin-top: 2%;
  text-align: center;
}

.testimonial-videos {
  text-align: center;
}
.testimonial-videos .h2 {
  margin-top: 2%;
}
.testimonial-videos iframe {
  min-height: 635px;
  margin-bottom: 35px;
}

.maincontent .title  {
  margin-top: 2%;
  margin-bottom: 2%;
}
.maincontent .pictures {
  margin-top: 2%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 600px) {
  .testimonial-videos iframe {
    min-height: 545px;
    margin-bottom: 0px;
  }
}

#i-frame {
  box-shadow: 0px 0px 25px -3px #FFFFFF;
}
